__pycache__/main.cpython-310.pyc
__pycache__/moon_equations.cpython-310.pyc
__pycache__/sun_equations.cpython-310.pyc
__pycache__/time_equations.cpython-310.pyc
__pycache__/moon_equations.cpython-310.pyc
__pycache__/moon_equations.cpython-310.pyc
__pycache__/sun_equations.cpython-310.pyc
__pycache__/time_equations.cpython-310.pyc
