# Python artifacts
__pycache__/
.pytest_cache/
*.py[cod]
*.log
*.tmp
*.bak
*.pdb

# Build artifacts
build/
dist/
.eggs/
*.egg-info/
*.whl
*.tar.gz
*.pyd
*.so

# setuptools_scm version file
islamic_times/_version.py

# Local junk
misc/
shp_files/

# Virtualenvs
.env/
.venv/

# Editor/IDE
.vscode/
.idea/
*.swp
